{% extends 'base.html.twig' %}

{% block container %}
    <h1> Mes produits ({{ products|length }}) </h1>

    <div class="container" style ="display:flex; flex-wrap:wrap; justify-content:space-around; margin-top:50px;">
        
        {% for product in products %}
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted"><strong> {{ product.price }} € </strong></h6>
                        <p class="card-text">{{ product.description }}</p>
                        
                        {% if product.couteCher %} 
                        <p class="text-danger">Ce produit semble couter cher </p>
                        {% else %} 
                        <p class="text-success"> Ce produit semble est à un bon prix! </p>
                        {%endif%} </p>

                        <a href="{{ path('app_product_show', {id: product.id}) }}" class="card-link">Afficher le produit</a>
                    </div>
                </div> 
            </div>  
        {%endfor%}

    </div>
    
{% endblock %}

